body {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #3498db; /* Blue color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.eye-catching-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    color: #6C757D;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #34a1eb;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007BFF;
}

.button-container {
    margin-top: 20px;
}

#password {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #34a1eb;
    background-color: #f8f9fa;
}
